.color-blue {
	color : #27b3f4;
}
.padding-section {
	padding: 100px 0;
}

/* -Services- */
/* ------------------------------------------------------------------------------------------- */

#services .col-md-4 p {
	text-align:justify;
}

#services .col-md-4:hover span{
    /* animation: mymove 1s;
    transition:.4s; */  
}

/* -Client- */
/* ------------------------------------------------------------------------------------------- */

#clients ul {padding:0;list-style:none;text-align:justify;}
#clients ul li {
	padding-left: 2.5em;
	float:left;
}
#clients ul li img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	
	width: 128px;
	height: 128px;
}
#clients ul li img:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
/* #clients ul li:before {
	content: "\f0c8 ";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -2.5em;
	width: 2.5em;
	color: #27b3f4;
	transition: all ease .2s;
}
#clients ul li:hover:before {transform:translateX(15px);} */

/* - Contact- */
/* ------------------------------------------------------------------------------------------- */

#contact .section-subheading {color:#eee;}

/* -More Link- */
/* ------------------------------------------------------------------------------------------- */

.more-link {
	text-align:right;
	margin-top:30px;
}
.more-link  a{
	text-align:right;
	padding:2px 10px;
	border-bottom: 3px solid #ddd;
	transition:all ease .5s;
}
.more-link a:hover {
	text-decoration:none;
	border-bottom: 3px solid #777;
}

/* -Header Footer- */
/* ------------------------------------------------------------------------------------------- */

#header-footer {
	background-color: #27b3f4;
	padding:30px 0;
}
#header-footer ul {padding-left:0;list-style:none;}
#header-footer ul li {
	margin-bottom:10px;
}
#header-footer h4{
	color:#fff;
}
#header-footer a{
	color:#eee;
}
#header-footer p{
	color:#eee;
	margin-bottom:5px;
}

/* -Icon map in header footer- */
/* ------------------------------------------------------------------------------------------- */

#header-footer .map-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto;
}
#header-footer .map-link .map-hover{
	background:rgba(3,3,3,.5);
	position:absolute;width:100%;
	height:100%;opacity:0;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s;
}
#header-footer .map-link .map-hover:hover{
	opacity:1
}
#header-footer .map-link .map-hover .map-hover-content{
	position:absolute;
	width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:50%;
	margin-top:-12px;
	color:#fff;
}
#header-footer .map-link .map-hover .map-hover-content i{
	margin-top:-12px;
	transition:all ease .5s;
}
#header-footer .map-link .map-hover:hover .map-hover-content i{
	font-size:50px;
}

.google-maps {
    position: relative;
    padding-bottom: 85%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
	margin-bottom:30px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


@keyframes mymove {
	0%	{transform: scale(0.5,0.5);}
    /*50% {transform: scale(0.8,0.8);}*/
    100% {transform: scale(1,1);}
}

.fancy-title {
    position: relative;
    margin-bottom: 30px !important;
	margin: 0 auto;
    max-width: 400px;
}
.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
    position: relative;
    display: inline-block;
    background-color: #f7f7f7;
    padding-right: 15px;
    margin-bottom: 0
}
.fancy-title h4,
.fancy-title h5,
.fancy-title h6 {
    padding-right: 10px
}

.fancy-title.title-border-color:before,
.fancy-title.title-border:before,
.fancy-title.title-double-border:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 3px double #E5E5E5;
    left: auto;
    top: 46%;
    right: 0
}
.fancy-title.title-border:before {
    top: 49%;
    border-top: 1px solid #EEE
}
.fancy-title.title-border-color:before {
    top: 49%;
    border-top: 1px solid #1ABC9C;
    opacity: .6
}
.fancy-wrap {
	margin: 0 auto;
    max-width: 400px;
}

.spost {
    padding-top: 20px;
	padding-bottom: 20px;
    border-top: 1px dashed #E5E5E5
}
.mpost {
    margin-top: 25px;
    padding-top: 25px
}
.mpost:first-child,
.spost:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}
.mpost .entry-image,
.spost .entry-image {
    float: left;
    margin: 0 15px 0 0;
    text-align: center
}
.mpost .entry-image a i,
.spost .entry-image a i {
    font-size: 28px;
    line-height: 48px;
    color: #666;
    background-color: #EEE
}
.spost .entry-image, .spost .entry-image a, .spost .entry-image i, .spost .entry-image img {
    width: 80px;
    height: 80px;
}
.spost .entry-image img {
	border: 1px solid;
	box-shadow: 1px 1px 1px;
}
.entry-image, .entry-image .slide a, .entry-image img, .entry-image>a {
    display: block;
    position: relative;
}
.mpost .entry-title h4,
.spost .entry-title h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600
}
.mpost .entry-title h4 a,
.spost .entry-title h4 a {
    color: #333
}
.mpost .entry-title h4 a:hover,
.spost .entry-title h4 a:hover {
    color: #27b3f4;
	text-decoration: none;
}
.spost .entry-meta {
    margin: 8px -10px 0 0
}
.mpost .entry-meta li,
.spost .entry-meta li {
    font-size: 13px;
    margin: 0 10px 0 0
}
.entry-meta { list-style:none;}

.entry-meta li {
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 0 10px 15px 0;
    color: #999
}
.entry-meta li:before {
    content: '/';
    display: inline-block;
    margin-right: 10px;
    opacity: .5
}
.entry-meta li i {
    position: relative;
    top: 1px;
    font-size: 14px;
    margin-right: 3px
}
.entry-meta li a {
    color: #999
}
.entry-meta li a:hover {
    color: #1ABC9C
}
.entry-meta li:first-child:before {
    display: none
}
.entry-meta li ins {
    font-weight: 600;
    text-decoration: none
}
.entry-c {
    position: relative;
	margin-top: 20px;
    /*overflow: hidden; */
}

.circle-hover span:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -4px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 2px #333;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform .3s, opacity .3s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform .3s, opacity .3s;
    transform: scale(.8);
    opacity: 0
}
.circle-hover .bg {
	transition : ease .4s;
}

.circle-hover .bg:hover,
.circle-hover:hover .bg {
    /* background-color: #333;*/
    color: #333 ;
}

.circle-hover span:hover:after,
.circle-hover:hover span:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(.9);
    opacity: 1
}

/* -- News -- */
/* ------------------------------------------------------------------------------------------- */

#news {
	background: #27b3f4;
}
#news h2 {
	color: #fff;
}
#news .more-link a {
	color: #eee !important;
}
#news .more-link a:hover {
	color: #fff !important;
}
.news-date {
	padding: 10px 0;
}
.news-date-content {
}
.news-date-content-text {
	font-weight: 300;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.news-cell {
	padding: 0 15px;
}
.news-image {
	text-align:center;
}
.news-image  .news-image-picture {
	-webkit-transition: .2s all ease;
    transition: .2s all ease;
	width: 100%;
    max-width: 100%;
	vertical-align: middle;
}
.news-title {
	padding-bottom: 10px;
}
.news-title .news-title-content-text {
	font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0px;
}
.news-content {
	padding-bottom: 20px;
}
.news-content .news-content-content-text {
	font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.news-more {
	padding: 20px 0 45px 0;
	text-align: left;
}
.news-more .news-more-link {
	font-size: 16px;
    font-weight: 500;
    font-style: normal;
	text-decoration: none;
    color: #ffffff;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
	padding:5px;
}

.news-more .news-more-link:hover {
	color: #ddd;
}

/* -- Banner Contact -- */
/* ------------------------------------------------------------------------------------------- */

.banner {
	padding:50px 0;
}

.banner h3 {
	color: #fff;
}
.banner span {
	color: #eee;
}
.banner a {
    /* padding: 10px 30px;
    background-color: #fff;
    border-radius: 10px;
	text-decoration: none;
	transition: all ease .5s;
	font-size: 20px; */
}
.banner a:hover {
	/* color: #fff;
	background-color: #27b3f4; */
}
.banner .banner-link {
	margin-top: 5px;
}
.banner .banner-des, .banner .banner-link {
	margin-left: 10px;
}

	/* --- Popover -- */
	/* ------------------------------------------------------------------------------------------- */
	
	.qs {
	  border-radius: 16px;
	  color: #e3fbff;
	  cursor: default;
	  display: inline-block;
	  font-family: 'Helvetica',sans-serif;
	  font-size: 18px;
	  font-weight: bold;
	  height: 48px;
	  line-height: 42px;
	  position: relative;
	  text-align: center;
	  width: 48px;
	 } 
	.qs .popover {
		background-color: #27b3f4;
		border-radius: 5px;
		color: #fff;
		display: none;
		font-size: 15px;
		font-family: 'Helvetica',sans-serif;
		left: 60px;
		top: 4px;
		padding:0 10px;
		position: absolute;
		width: 180px;
		height: 42px;
		z-index: 4;
	}
	.qs .popover1 {
		width:120px !important;
	}
	.qs .popover:after, .qs .popover:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.qs .popover:after {
		border-color: transparent;
		border-right-color: #27b3f4;
		border-width: 7px;
		margin-top: -7px;
	}
	.qs .popover:before {
		border-color: transparent;
		border-right-color: #27b3f4;
		border-width: 7px;
		margin-top: -7px;
	}
	.qs:hover .popover {
			display: block;
			-webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
			-moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
			-ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
	}

	@-webkit-keyframes fade-in {
		from   { opacity: 0; }
		to { opacity: 1; }
	}
	@-moz-keyframes fade-in {
		from   { opacity: 0; }
		to { opacity: 1; }
	}
	@-ms-keyframes fade-in {
		from   { opacity: 0; }
		to { opacity: 1; }
	}
	@-webkit-keyframes move-up {
		from   { bottom: 30px; }
		to { bottom: 42px; }
	}
	@-moz-keyframes move-up {
		from   { bottom: 30px; }
		to { bottom: 42px; }
	}
	@-ms-keyframes move-up {
		from   { bottom: 30px; }
		to { bottom: 42px; }
	}

/* -- Product -- */
/* ------------------------------------------------------------------------------------------- */

.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    /* border:6px solid #FFF; */
}

/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
	margin-bottom:20px !important;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.Image_Wrapper:hover {
	-webkit-transform: translate(0px, -5px);
	-moz-transform: translate(0px, -5px);
	-o-transform: translate(0px, -5px);
	-ms-transform: translate(0px, -5px);
	transform: translate(0px, -5px);
	box-shadow: 0px 32px 13px -15px rgba(0, 0, 0, 0.2);
}

.Caption{
    font-size:18px;
    font-weight:normal;
    font-family:'Noto Sans', sans-serif;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}
.Caption_Background {
	background-color: transparent !important;
}

/* -Logo- */
/* ------------------------------------------------------------------------------------------- */

/* nav img{
	margin-top: -20px;
    margin-right: 20px;
    border-radius: 5px;
    width: 100px;
    height: 100px !important;
    padding: 10px !important;
}
nav.navbar-shrink img {
	margin-top: -10px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 80px;
    height: 80px !important;
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.5);
}
nav img:hover{
	background-color:#fff;
}
@media screen and (max-width:736px) {
	nav img{
		margin-top:-10px;
		background-color:#fff;
		width: 50px;
		height: 50px !important;
		box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.5);
	}
	nav.navbar-shrink img {
		width: 50px;
		height: 50px !important;;
	}
}
 */
 

/* Style Image */ 
/* ------------------------------------------------------------------------------------------- */

.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px); filter: blur(3px);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%); filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%); filter: opacity(50%);}
 


/* Filtering Styles*/
.option-set { margin: 0px 0 44px 0; padding: 0; }

.option-set li {
	display: inline-block;
}

.option-set li a {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 8px 12px;
}

.option-set li a:hover,
.option-set li a.selected {
	color: #fff;
	background-color: #0081db;
}


/* Projects Grid */
.projects h3 {
	margin-bottom: 20px;
}

.projects a {
	position: relative;
	overflow: hidden;
	display: block;
    margin-bottom: 30px;
}

.projects a .overlay {
	visibility: hidden;
	opacity: 0;
	z-index: 20;
	position: absolute;
}

.projects a img,
.projects a .overlay,
.projects a .plus-icon,
.projects a:hover .overlay,
.projects a:hover .plus-icon,
.projects a .overlay-content {
	-webkit-transition: all 0.32s;
	transition: all 0.32s;
}


/* Overlay background */
.projects a .overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.projects a:after,
.projects a .overlay:after {
	position: absolute;
	content: "";
	display: inline-block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.projects a .overlay:after {
    /*background-color: #666;*/
	opacity: 1;
}

.projects a:hover .overlay {
	visibility: visible;
	opacity: 1;
}

.projects a img {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;

}

.projects a.unclickable:hover img,
.projects a img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.projects a:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}


.projects a:hover:before { opacity: 1; }
.projects a:after { background-color: #222; opacity: 0.1; }

.projects a.unclickable { cursor: default; }

.projects a:before {
	content:"";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	/*background-color: #f8f8f8;*/
	z-index: 20;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.projects a:hover:before { opacity: 0; }

.projects a.unclickable:before,
.projects a.unclickable:hover:before {
	opacity: 0.7;
}

.projects a img {
	opacity: 0.98;
	-webkit-opacity: 1;
	z-index: 10;
	position: relative;
	width: 100%;
	zoom: 1;
}

.projects a.unclickable:hover .overlay {
	visibility: hidden;
	opacity: 0;
}

.projects a.unclickable img {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}


/* Overlay content */
.projects a .overlay-content {
	text-align: center;
	top: 90%;
	position: relative;
	left:0;
	right: 0;
	color: #fff;
    -ms-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: 0;
    z-index: 99;
    padding: 5px 10px;
    background-color: #0081db;
}

.projects a:hover .overlay-content {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    opacity: 0.8;

}

.projects a .overlay-content h4 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 26px;
	margin: 0;
}